# Embeddings (2)

This file is for running the embeddings API of OpenAI for the **2nd quarter** of the original DataFrame.

- Read DataFrame from csv (words only).

In [1]:
import pandas as pd

embeddings2 = pd.read_csv('emb2.csv')
del embeddings2['Unnamed: 0']
embeddings2

                                word  vec
0                          larghetto  NaN
1                      at half speed  NaN
2                    under easy sail  NaN
3                    at a foots pace  NaN
4                  at a snail's pace  NaN
...                              ...  ...
24995                        trip up  NaN
24996         throw a tub to a whale  NaN
24997  fool to the top of one's bent  NaN
24998        send on a fool's errand  NaN
24999                      make game  NaN

[25000 rows x 2 columns]

- Use personal api-key to access the API (choose the large embedding model that provides vectors up to **3072 elements**).  
- Then read each word and create the corresponding embedding vector.  
- Store vector in our DataFrame.

In [2]:
from openai import OpenAI
client = OpenAI(api_key='my-key') # Establish connection

# Make sure the vec column is filled with None before running
embeddings2['vec'] = [None]*embeddings2['vec'].size 

for i in range(embeddings2['word'].size):
    response = client.embeddings.create(
        input=embeddings2['word'][i], # Give input
        model="text-embedding-3-large" # Define model
    )
    embeddings2['vec'][i] = response.data[0].embedding # Extract output vector

In [3]:
embeddings2

,word,vec
0,larghetto,"[0.012530510313808918, -0.009746838361024857, ..."
1,at half speed,"[0.000148019302287139, 0.0051785302348434925, ..."
2,under easy sail,"[0.008814001455903053, 0.019285179674625397, 0..."
3,at a foots pace,"[-0.003748571965843439, 0.023081384599208832, ..."
4,at a snail's pace,"[-0.016775669530034065, 0.013165157288312912, ..."
...,...,...
24995,trip up,"[-0.0035504482220858335, 0.00111527054104954, ..."
24996,throw a tub to a whale,"[-0.032286711037158966, -0.0532321035861969, -..."
24997,fool to the top of one's bent,"[0.03192081302404404, 0.02451092191040516, -0...."
24998,send on a fool's errand,"[0.018230542540550232, -0.009704409167170525, ..."
24999,make game,"[-0.035696227103471756, -0.01113992277532816, ..."

- Store vectors to csv file.

In [4]:
embeddings2.to_csv('emb2L.csv')